<div class="flex flex-row">
  <% @columns.each do |column| %>
  <div class="w-1/3 flex flex-col h-screen overflow-auto ml-1">
    <div class="text-sm bg-gray-800 text-white py-1 px-2">
      <%= column[:title] %>
    </div>
    <div class="flex flex-col overflow-auto">
    <% column[:stories].each do |story| %>
      <%
      if story.done?
        color = 'green'
      elsif story.inprogress? || story.testing? || story.ready?
        color = 'yellow'
      else
        color = 'gray'
      end
      %>
      <%= render 'story', story: story, color: color %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>

<% if params[:demo] == 'true' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js" type="text/javascript"></script>
<script>
var demoization = function() {
  document.querySelectorAll("*[data-field=epic_name],*[data-field=story_tag]").forEach(function(el,index) { el.innerHTML = faker.random.word(); });
  document.querySelectorAll("*[data-field=member_name]").forEach(function(el,index) { el.innerHTML = faker.name.findName(); });
  document.querySelectorAll("*[data-field=story_summary]").forEach(function(el,index) { el.innerHTML = faker.lorem.sentence(); });
};

window.addEventListener('load', demoization);
document.addEventListener('turbolinks:load', demoization);
</script>
<% end %>