<div class="max-w-sm flex flex-col">
  <% @stories.each do |story| %>
    <%
    if story.done?
      color = 'green'
    elsif story.inprogress? || story.testing? || story.ready?
      color = 'yellow'
    else
      color = 'gray'
    end
    %>
    <%= render 'story', story: story, color: color %>
  <% end %>
</div>