<div class="flex flex-row">
  <% @columns.each do |column| %>
  <div class="w-1/3 flex flex-col h-screen overflow-auto ml-1">
    <div class="text-sm bg-gray-800 text-white py-1 px-2">
      <%= column[:title] %>
    </div>
    <div class="flex flex-col overflow-auto">
    <% column[:stories].each do |story| %>
      <%
      if story.done?
        color = 'green'
      elsif story.inprogress? || story.testing? || story.ready?
        color = 'yellow'
      else
        color = 'gray'
      end
      %>
      <%= render 'story', story: story, color: color %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>